<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- setting the partial into this page-->
    <div class="main-content">
        {{>header}}

        <h3>{{helpmsg}}</h3>
    </div>
    {{>footer}}
</body>

</html>